# Build results
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db

# Visual Studio folders
.vscode/
.vs/

# Debug/Release
Debug/
Release/

# NuGet
packages/
*.nupkg
project.lock.json

# Others
*.log
*.tlog
*.cache
